@{
    ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
		<div class="single-slider" id="sl2" data-setbg="img/slider2.jpg">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We Provide <span>Medical</span> Records That You Can <span>Trust!</span></h1>
							<p>Fiat secundum artem </p>
									<div class="button">
								
								<a asp-controller="Patient" asp-action="PatientLogin" class="btn primary">View My Patient Data</</a>
								<a asp-controller="Account" asp-action="Login" class="btn primary">Doctor Log in</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
		<div class="single-slider" id="sl1" data-setbg="~/img/slider.jpg">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We Provide <span>Medical</span> Records That You Can <span>Trust!</span></h1>
							<p class=" center">Fiat secundum artem </p>
									<div class="button">
								<a asp-controller="Patient" asp-action="PatientLogin" class="btn primary">View My Patient Data</</a>
								<a asp-controller="Account" asp-action="Login" class="btn primary">Doctor Log in</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
		<div class="single-slider" id="sl3" data-setbg="~/img/slider3.jpg">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We Provide <span>Medical</span> Records That You Can <span>Trust!</span></h1>
							<p class=" center">Fiat secundum artem </p>
									<div class="button">
								<a asp-controller="Patient" asp-action="PatientLogin" class="btn primary">View My Patient Data</</a>
								<a asp-controller="Account" asp-action="Login" class="btn primary">Doctor Log in</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Our Group Of Hospitals Are Always Ready to Help You & Your Family</h2>
							<img src="img/section-img.png" alt="#">
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-ambulance-cross"></i>
							</div>
							<h3>Emergency Help</h3>
							<p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-medical-sign-alt"></i>
							</div>
							<h3>Enriched Pharmecy</h3>
							<p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont icofont-stethoscope"></i>
							</div>
							<h3>Medical Treatment</h3>
							<p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->
		
		<!-- Start Fun-facts -->
		
		
		
		
		
		<!--/ End Call to action -->

<div class="clients overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-12">
				<div class="owl-carousel clients-slider">
					<div class="single-clients">
						<img src="~/img/client1.png" alt="#">
					</div>
					<div class="single-clients">
						<img src="~/img/client2.png" alt="#">
					</div>
					<div class="single-clients">
						<img src="~/img/client3.png" alt="#">
					</div>
					<div class="single-clients">
						<img src="~/img/client4.png" alt="#">
					</div>
					<div class="single-clients">
						<img src="~/img/client5.png" alt="#">
					</div>
					<div class="single-clients">
						<img src="~/img/client1.png" alt="#">
					</div>
					<div class="single-clients">
						<img src="~/img/client2.png" alt="#">
					</div>
					<div class="single-clients">
						<img src="~/img/client3.png" alt="#">
					</div>
					<div class="single-clients">
						<img src="~/img/client4.png" alt="#">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/Ens clients -->
		
		<!--/ End portfolio -->
		
		
		
		
		
		
		<!-- Start Blog Area -->
		
		
		
		

		<style>
	#sl1 {
		background-image: url('/img/slider.jpg'); /* Set the background image for slider 1 */
		background-size: cover; /* Adjust as needed */
		width: 100%; /* Set the width of the slider */
		height: 400px; /* Set the height of the slider */
	}

	#sl2 {
		background-image: url('/img/slider2.jpg'); /* Set the background image for slider 2 */
		background-size: cover; /* Adjust as needed */
		width: 100%; /* Set the width of the slider */
		height: 400px; /* Set the height of the slider */
	}

	#sl3 {
		background-image: url('/img/slider3.jpg'); /* Set the background image for slider 3 */
		background-size: cover; /* Adjust as needed */
		width: 100%; /* Set the width of the slider */
		height: 400px; /* Set the height of the slider */
	}
</style>

		<!-- End Appointment -->
