@model Tempdata3
@{
    ViewData["Title"] = "Add a new Doctor";
}

@{
    Layout = "~/Views/Shared/_Layout3AdminPrivste.cshtml"; // Replace with the actual path to your layout
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new doctor</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">

                <form asp-action="DocCreate" asp-asp-controller="Hospital" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProfessionalNum" class="control-label"></label>
                        <input asp-for="ProfessionalNum" class="form-control" />
                        <span asp-validation-for="ProfessionalNum" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Speciality" class="control-label"></label>
                        <input asp-for="Speciality" class="form-control" />
                        <span asp-validation-for="Speciality" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label for="Schools">Select Private Practice</label>
                        <select class="form-control" id="Hospital" name="Hospital">
                            <option value="">Select</option>
                            @foreach (var item in Model.Hospitals)
                            {
                                <option value="@item.HId"> @item.HospitalName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>